@model IList<System.Security.Claims.Claim>

@{
    ViewBag.Title = "GetUserClaims";
}

<!-- container -->
<div class="container">
    <h2>List of User Claims</h2>
    <!-- up row -->
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <tr>
                    <th>
                        Subject.Name
                    </th>
                    <th>
                        Claim Issuer
                    </th>
                    <th>
                        Claim OriginalIssuer
                    </th>
                    <th>
                        Claim Type
                    </th>
                    <th>
                        Claim value
                    </th>
                    <th>
                        Claim ValueType
                    </th>
                    <th>

                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Issuer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OriginalIssuer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValueType)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div><!-- up row -->
    <!-- upper row -->
    <div class="row">
        <!-- left col -->
        <div class="col-lg-4 col-sm-12">

        </div><!-- left col -->
        <!-- center col -->
        <div class="col-lg-5 col-sm-12">

        </div><!-- center col -->
        <!-- right col -->
        <div class="col-lg-3 col-sm-12">

        </div><!-- right col -->
    </div><!-- upper row -->
    <!-- middle row -->
    <div class="row">
        <!-- left col -->
        <div class="col-lg-4 col-sm-12">

        </div><!-- left col -->
        <!-- center col -->
        <div class="col-lg-5 col-sm-12">

        </div><!-- center col -->
        <!-- right col -->
        <div class="col-lg-3 col-sm-12">

        </div><!-- right col -->
    </div><!-- middle row -->
    <!-- down row -->
    <div class="row">
        <div class="col-lg-12">

            <div>
                <span class="btn btn-default">@Html.ActionLink("Back to profile", "Index")</span>
            </div>

        </div>
    </div><!-- down row -->

</div><!-- container -->


